

<footer>
    <div class="wrap-container">
        <div class="wrapper">
            <a href=mailto: denusveluchko2017@gmail.com class="button">
               <div class="icon">
                  <img src="Gmail.png">
               </div>
               <span>Gmail</span>
            </a>
            <a href="https://github.com/Shushpin" class="button">
               <div class="icon">
                <img src="git.png">
               </div>
               <span>GitHub</span>
            </a>
            <a href="https://www.instagram.com/velychko_d" class="button">
               <div class="icon">
                <img src="Ins.png">
               </div>
               <span>Instagram</span>
            </a>
            <a href="https://www.jetbrains.com/" class="button">
               <div class="icon">
                <img src="Telegram.png">
               </div>
               <span>Telegram</span>
            </a>
            <a href="https://www.youtube.com/watch?v=xm3YgoEiEDc&ab_channel=10Hours" class="button">
               <div class="icon">
                <img src="yt.png">
               </div>
               <span>YouTube</span>
            </a>
         </div>
    </div>
    <p>
        Denys Velychko © 2023 CalorieFinder. All rights reserved.
    </p>
</footer>
</body>
</html>
