<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/green-abstract.png" alt="">
  </div>
  <div class="headings">
    <h2>Calorie Finder</h2>
    <h3>By Denys Velychko</h3>
    <a href="/main" class="btn">View Recipes</a>
  </div>
</header>


<%- include('partials/footer'); -%>